* {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.one {
    width: 80%;
    height: 150px;
}

.form-check-input {
    display: none;
}

.list-year {
    border: 2px solid black;
    color: black !important;
  
    gap: 2px;
    margin-left: 3px;
    background-color: #ffffff !important;
}

    .list-year:has(> .form-check-input:checked) {
        background-color: #fafafa !important;
        box-shadow: 0 0 5px 5px #dededf;
        width: 60px;
    }

.labelSize-year {
    width: 70px;
    height: 20px;
  
}

.form-check-input-month {
    display: none;
}

.btn-month {
    color: black !important;
    background: #ffffff !important;
    margin-left: 3px;
    margin-top: 3px;
    width: 40px;
}

    .btn-month:has(> .form-check-input-month:checked) {
        background-color: #fafafa !important;
        box-shadow: 0 0 5px 5px #dededf;
    }

.labelSize-month {
    width: 65px;
    height:20px;
    font-size: 13px;
}
/* style for search part */
.search-bar {
    border:none;
    border-radius: 5px;
   
    background-color: white;
    align-items: center;
    box-shadow: 0 0 3px black;
}

.textStyle {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.first-dropdown {
    border: none; /* Remove border */

    border-radius: 5px; /* Rounded corners */
    padding: 5px;
    font-weight: bold;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 0 3px black;
}

.side-bar {
    background-color: #f8f9fa;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    z-index: 1000;
    width: 18%;
}




.sidebar-menu .nav-link {
    color: #bfbebe;
    padding: 20px 15px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

    .sidebar-menu .nav-link:hover {
        background-color: #eeeded;
        color: black;
    }
  a. nav-link:active{
        background-color: red; /* Example color */
        color: white;
        font-weight: bold;
    }
.side {
    display: none;
}

@media only screen and (max-width: 767px) {
    .side-bar {
        width: 0;
        height: 0;
        display: none;
    }

    .side {
        display: block !important;
        width: 100%;
    }

    .main-content {
        width: 100%;
        height: 100vh;
    }

    .sidebar-menu {
        flex-direction: column !important;
    }

        .sidebar-menu  .nav-link {
          
            padding: 6px;
            font-size: 0.9em;
        }

            .sidebar-menu .nav-link:hover
            {
                cursor:pointer;
                background-color: #eeeded;
                color: black;
            }
}

@media only screen and (min-device-width: 767px) {
    .side-bar {
        width: 18%;
        height: 100vh;
    }



    .main-content {
        width: 80%;
        margin-left: 10px;
        height: 100vh;
    }

    .sidebar-menu .nav-link {
        padding: 18px;
        font-size: 1.45rem;
    }
}